$buttonClr:#ff0000;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(226, 226, 226, 0.568);
    height: 100vh;
    font-family: Tahoma,Arial,Helvetica,sans-serif;

    position: relative;
}
.active{
    display: block !important;
}

.btn{
    border: none;
    background-color: $buttonClr;
    padding: 0.9rem 0.9rem;
    color: white;
    cursor: pointer;
    width: 260px;
    margin: 0 auto;
    border-radius: 20px;
    font-weight: 700;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    // display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    animation-name:fadeIn ;
    animation-duration: 1s;
}
.modal{
      transition: all 0.5s;
    display: none;
  }
.modal-popup{
    position: absolute;

    background-color: #fff;
    height: auto;
    padding: 3rem 2.5rem;
    // display: grid;
    top: 30%;
    left: 40%;
    // place-items: center;
    border-radius: 20px;
    
    .close-btn{
        width: 20px;
        height: 20px;
        background-color: #000;
        color: white;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        font-size: 10px;
        top: 20px;

    }
    .modal-wrapper{
        position: relative;

    
        width: 400px;

        .modal-content{
            .modal-logo{
                display: grid;
                    // margin-bottom: 10px;
                    place-items: center;
                img{
                    width: 205px;
                }
            }
            .modal-info{
                text-align: center;
                .title{
                    margin-bottom: 15px;
                    h1{
                        font-size: 25px;
                    }
                }
                .info{
                    margin-bottom: 15px;
                    padding: 0 45px;
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}